* {
  box-sizing: border-box;
}

body {
  background-color: rgba(0, 0, 0, 0.05);
  max-width: 960px;
  margin: 0 auto;
  padding-top: 30px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about img {
  width: 400px;
}

.fullpost {
  background-color: #ffffff;
  padding: 30px;
}
